<script type="text/ng-template" id="scopeTemplate">
    <div class="panel-body">
        <p>Name: <input ng-model="data.name" /></p>
        <p>City: <input ng-model="city" /></p>
        <p>Country: <input ng-model="country" /></p>
    </div>
</script>
<script type="text/ng-template" id="scopeTemplateBinding">
    <div class="panel-body">
        <p>Data Value: {{local}}</p>
    </div>
</script>
<script type="text/ng-template" id="scopeTemplate2WayBinding">
    <div class="panel-body">
        <p>Data Value: <input ng-model="local" /></p>
    </div>
</script>
<script type="text/ng-template" id="scopeTemplateExpression">
    <div class="panel-body">
        <p>Name: {{local}}, City: {{cityFn()}}</p>
    </div>
</script>
<div id="chap15Div" class="wrapper wrapper-content animated" ng-app="cap16">
    <h3>Creating Complex Directives</h3>

    <div class="well">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Evaluating Scope Expressions</h3>
                <div class="panel panel-default" ng-controller="cap16Ctrl6">
                    <div class="panel-body">
                        Direct Binding: <input ng-model="data.name" />
                    </div>
                    <div class="panel-body" scope-demo-2-isolated-expression
                         city="getCity(data.name)" nameprop="data.name"></div>
                </div>

                <h3>Two-way binding</h3>
                <div class="panel panel-default" ng-controller="cap16Ctrl5">
                    <div class="panel-body">
                        Direct Binding: <input ng-model="data.name" />
                    </div>
                    <div class="panel-body" scope-demo-2-isolated-two-way nameprop="data.name"></div>
                </div>

                <h3>Binding via an Attribute value</h3>
                <div class='panel panel-default' ng-controller="cap16Ctrl4">
                    <div class="panel-body">
                        Direct Binding: <input ng-model="data.name" />
                    </div>
                    <div class="panel-body" scope-demo-2-isolated-binding nameprop="{{data.name}}"></div>
                    <div class="panel-body" scope-demo-2-isolated-binding nameprop="{{data.name + 'Freeman'}}"></div>
                </div>
            </div>

            <div class="panel-heading">
                <h3>Isolated Scope - Great for reusing a directive</h3>
                <div class="panel panel-default" ng-controller="cap16Ctrl4">
                    <div class="panel-body" scope-demo-2-isolated></div>
                    <div class="panel-body" scope-demo-2-isolated></div>
                </div>
            </div>

            <div class="panel-heading">
                <h3>Expanding Directive Instance Example</h3>
                <div class="panel panel-default" ng-controller="cap16Ctrl4">
                    <div class="panel-body" scope-demo-2></div>
                    <div class="panel-body" scope-demo-2></div>
                </div>
            </div>

            <div class="panel-heading">
                <h3>Giving Each Directive Instance Its Own Scope</h3>
                <div class="panel panel-default">
                    <div class="panel-body" scope-demo-with-scope></div>
                    <div class="panel-body" scope-demo-with-scope></div>
                </div>
            </div>

            <div class="panel-heading">
                <h3>Managing Directive Scopes</h3>
                <div class="panel panel-default" ng-controller="cap16Ctrl2">
                    <div class="panel-body" scope-demo></div>
                    <div class="panel-body" scope-demo></div>
                </div>
            </div>

            <div class="panel-heading" ng-controller="cap16Ctrl1">
                <h3>Selecting an External Template with a Function</h3>
                <div unordered-list-ext-template-func="products">
                    This is where the list will go
                </div>
                <div unordered-list-ext-template-func="products" template="table">
                    This is where the list will go
                </div>
            </div>

            <div class="panel-heading" ng-controller="cap16Ctrl1">
                <h3>Using Directive External Templates</h3>
                <div unordered-list-ext-template="products" class="table table-striped">
                    This is where the list will go
                </div>
            </div>

            <div class="panel-heading" ng-controller="cap16Ctrl1">
                <h3>Using Directive Templates</h3>
                <div unordered-list-template="products">
                    This is where the list will go
                </div>
            </div>

            <div class="panel-heading" ng-controller="cap16Ctrl1">

                <h3>Directive as a Comment (M)</h3>
                <div class="panel-body">
                    <!-- directive: unordered-list-link products -->
                </div>

                <h3>Directive as a Class Attribute Value (C)</h3>
                <div class="panel-body">
                    <div class="unordered-list-link: products" list-property="price | currency"></div>
                </div>

                <h3>Directive as an Attribute (A)</h3>
                <div class="panel-body">
                    <div unordered-list-link="products" list-property="price | currency"></div>
                </div>

                <h3>Directive as an Element (E)</h3>
                <div class="panel-body">
                    <unordered-list-link list-source="products" list-property="price | currency" />
                </div>
            </div>
        </div>
    </div>

</div>