<div id="chap17Div" class="wrapper wrapper-content animated" ng-app="cap19">
    <h3>Working with Modules and Services</h3>

    <div class="well">
        <div class="panel panel-default">
            <div class="panel-body">

                <h3>Working with AngularJS Expressions and Directives</h3>

                <div class="well" ng-controller="cap19Ctrl12">
                    <h4>Compiling Content</h4>
                    <span eval-expression4></span>
                </div>

                <div class="well" ng-controller="cap19Ctrl11">
                    <h4>Interpolating Strings</h4>
                    <div>
                        <span eval-expression3 amount="dataValue" tax="10"></span>
                    </div>
                </div>

                <div class="well" ng-controller="cap19Ctrl11">
                    <h4>Providing Local Data</h4>
                    <p><input class="form-control" ng-model="dataValue" /></p>
                    <div>
                        Result: <span eval-expression2 amount="dataValue" tax="10"></span>
                    </div>
                </div>

                <div class="well" ng-controller="cap19Ctrl10">
                    <h4>Working with AngularJS Expressions and Directives</h4>
                    <p><input class="form-control" ng-model="expr" /></p>
                    <div>
                        Result: <span eval-expression="expr"></span>
                    </div>
                </div>

                <h3>Working with Dangerous Data</h3>

                <div class="well" ng-controller="cap19Ctrl9">
                    <h4>Performing the Sanitization Directly</h4>
                    <p><input class="form-control" ng-model="dangerousData" /></p>
                    <p ng-bind="htmlData"></p>
                </div>

                <div class="well" ng-controller="cap19Ctrl8">
                    <h4>Working with Dangerous Data</h4>
                    <p><input class="form-control" ng-model="htmlData" /></p>
                    <p ng-bind-html="htmlData"></p>
                    <p ng-bind-html="trustedData"></p>
                </div>

                <h3>Dealing with Exceptions</h3>

                <div class="well" ng-controller="cap19Ctrl7">
                    <h4>Working with Exceptions</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button class="btn btn-primary" ng-click="throwEx()">Throw Exception</button>
                        </div>
                    </div>
                </div>

                <h3>Accessing the DOM API Global Objects</h3>

                <div class="well" ng-controller="cap19Ctrl6">
                    <h4>Using the Provider Method</h4>
                    <div class="btn-group" multi-button-cap19 counter="data.totalClicks"
                         source="data.cities">
                        <button class="btn btn-default" ng-repeat="city in data.cities">
                            {{city}}
                        </button>
                    </div>
                    <h5>Total Clicks: {{data.totalClicks}}</h5>
                </div>

                <div class="well" ng-controller="cap19Ctrl5">
                    <h4>Scroilling to the $location Hash Location</h4>
                    <div class="panel panel-default">
                        <h5 class="panel-heading">URL</h5>
                        <div class="panel-body">
                            <p id="top">This is the top</p>
                            <button class="btn btn-primary" ng-click="show('bottom')">
                                Go to Bottom</button>
                            <p>
                                <ul>
                                    <li ng-repeat="item in items">{{item}}</li>
                                </ul>
                            </p>
                            <p id="bottom">This is the bottom</p>
                            <button class="btn btn-primary" ng-click="show('top')">Go to Top</button>
                        </div>
                    </div>
                </div>

                <div class="well" ng-controller="cap19Ctrl4">
                    <h4>Accessing the URL</h4>
                    <div class="panel panel-default">
                        <h5 class="panel-heading">URL</h5>
                        <div class="panel-body">
                            <p>The URL is: {{url}}</p>
                            <div class="btn-group">
                                <button class="btn btn-primary" ng-click="setUrl('reset')">Reset</button>
                                <button class="btn btn-primary" ng-click="setUrl('path')">Path</button>
                                <button class="btn btn-primary" ng-click="setUrl('hash')">Hash</button>
                                <button class="btn btn-primary" ng-click="setUrl('search')">Search</button>
                                <button class="btn btn-primary" ng-click="setUrl('url')">URL</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" ng-controller="cap19Ctrl3">
                    <h4>Using Intervals and Timeouts</h4>
                    <div class="panel panel-default">
                        <h5 class="panel-heading">Time</h5>
                        <div class="panel-body">
                            The time is: {{time}}
                        </div>
                    </div>
                </div>

                <div class="well" ng-controller="cap19Ctrl2">
                    <h4>Accessing the Document object</h4>
                    <button class="btn btn-primary" id="cap19Ctrl2Button">Click Me</button>
                </div>

                <div class="well" ng-controller="cap19Ctrl1">
                    <h4>Accessing the Window object</h4>
                    <button class="btn btn-primary" ng-click="displayAlert('Clicked')">Click Me</button>
                </div>
            </div>
        </div>
    </div>
</div>